
html {
	height: 100%;
	width: 100%;
}

.dropbtn {
	background-color: pink;
	color: black;
	font-family: "comic-sans-ms";
	padding: 20px;
	font-size: 30px;
	border: 2px solid black;
	/*min-width: 200px;*/
	width: 100%;
}

.dropdown {
	margin: 0px;
	width: 30%;
	position: absolute;
	top: 50%;
	left: 35%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: black;
	/*min-width: 200px;*/
	width: 100%;
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: white;
	padding: 10px 20px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: blue;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: grey;}
